.contact-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 15px 0px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
}
.contact-list-item--selected {
  background-color: #8a8a8a;
}

.contact-list-item__delete {
  color: red;
  margin-left: 20px;
}