.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content-area {
  margin: 10px;
}

.App-intro {
  font-size: large;
}